.booking-container{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    transform: translateY(-100%);
    transition: all 1s ease-in-out;
    position: absolute;
    display: none;
    z-index: 0;
}
.booking-container.display{
    transform: translateY(0%);
    z-index: 2;
    display: block;
}
.booking-container #close{
    position: absolute;
    margin-top: 20px;
    right: 10px;
    padding-top: 0;
    background: rgb(219, 235, 219);
    color: #c93232;
    width: 50px;
    height: 50px;
    font-size: 40px;
}
.booking{
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    display: block;
}
.booking-image{
    max-width: 350px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.booking-image img{
    max-width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px dashed goldenrod;
    opacity: 1;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.5);

}
.booking-note{
    background: rgb(184, 214, 245);
    margin: 0 10px;
    border: 2px dashed gold;
    border-radius: 20px;
    margin-top: 30px;
}
.booking-note form{
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: left;
    margin-left: 30px;
}
.booking-note form label{
    display: block;
    text-transform: capitalize;
    padding-top: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 600;
}
.booking-note form input{
    min-width: 240px;
    height: 20px;
    border: none;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}
.booking-note .message{
    min-width: 240px;
    display: block;
    height: 100px;
    resize: none;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px;
}
.booking-note span{
    font-size: 15px;
}
.booking-note #checkbox{
    display: inline;
    margin: 0;
}