.first-class-rental-container{
    max-width: 800px;
    margin: 0 auto;
    max-height: fit-content;
    text-align: center;
    justify-content: center;
    display: block;
    background: rgb(206, 55, 226);
    border-radius: 30px;
    z-index: 3;
    position: relative;
}
.first-class-rental-container h2{
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-weight: 600;
    color: #ccf;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    line-height: 50px;
}
.first-class-rental-container p{
    width: 70%;
    display: block;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 600;
}
.first-class-rental-container .class-main-div{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}
.first-class-rental-container .class-name{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ec994b;
    text-transform: capitalize;
    padding:10px 0;
    text-shadow: 1px 1px #000;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.first-class-rental-container .center{
    max-width: 400px;
    margin: 0 auto;
}
.first-class-rental-container .center img{
    max-width: 100%;
}
.first-class-rental-container .class-btn {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.first-class-rental-container .class-btn button{
    text-transform: capitalize;
    font-size: 15px;
    border: 2px solid green;
    padding: 10px;
}

