.save-money-container{
    display: block;
    text-align: center;   
    width: 100%;
    min-height: 80vh;
    background: url(../images/home-2-background-img-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.save-money-text{
    color: #ffffff;
    text-align: left;
    margin-left: 50px;
    max-width: 370px;
    position: absolute;
    bottom: 13%;
}
.save-money-text h3{
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 450;
    line-height: 60px;
}
.save-money-text h4{
    display: flex;
    align-items: center;
}
.save-money-text h4 img{
    max-width: 40px;
    padding: 50px 15px;
}
.save-money-text h4 span:nth-child(2){
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
    cursor: pointer;
}