.first-class-rental-container{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 30px;

}
.first-class-rental-container h2{
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-weight: 600;
    color: #ccf;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    line-height: 50px;
}
.first-class-rental-container p{
    width: 70%;
    display: block;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 600;
}
.first-class-rental-container .class-main-div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
}
.first-class-rental-container .class-name{
    margin-left: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ec994b;
    text-shadow: 1px 1px #000;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.first-class-rental-container .center{
    width: 90%;
}
.first-class-rental-container .center img{
    max-width: 100%;
}
.first-class-rental-container .class-btn {
    text-align: center;
    margin-right: 10px;
    align-items: center;
}
.first-class-rental-container .class-btn button{
    text-transform: capitalize;
    font-size: 15px;
}
.first-class-rental-container .class-btn, .first-class-rental-container .class-name{
    transform: rotate(90deg);
}
