.testimonial-container{
    display: block;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(235, 65, 184, 0.5);
    margin-top: 100px;

}
.main-testimony{
    max-width: 400px;
    margin: 0 auto;
}
.main-testimony-body{
    background: rgba(235, 65, 184, 0.3);
    box-shadow: -5px -5px 2px 2px rgba(224, 235, 65, 0.3);
    padding: 20px;
    margin-top: 30px;
    border-bottom-right-radius: 130px;
    border-top-left-radius: 130px;
}
.main-testimony p{
    line-height: 35px;
    display: block;
}
.main-testimony .name{
    display: block;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(102, 65, 16);
    font-size: 25px;
    line-height: 50px;
    font-weight: 500;
}
.main-testimony .stars{
    display: block;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(102, 65, 16);
    font-size: 25px;
    line-height: 60px;
    font-weight: 500;
}
.main-testimony-image{
    display: block;
    margin: 0 auto;
}
.main-testimony-image img{
    width: 100px;
    height: 100px;
    margin: 30px;
    border-radius: 50%;
    border: 2px dashed gold;
    animation: imageanim 3s infinite;
}
@keyframes imageanim {
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: 50px;
    }
}